$principal_color: red;
$secondary_color: #246d30;
$fontsize_title: 34px;
$button_padding: 10px 10px;
$par_border: 3px solid green;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: $principal_color;
}

h2{
    color: $principal_color;
    font-size: $fontsize_title;
}

p{
    color: $secondary_color;
    border: $par_border;
}

button{
    background-color: $secondary_color;
    padding: $button_padding;
}